/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
  height: 100%;
}
body {
  height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Fonts */
@font-face {
  font-family: "logo";
  src: url("../fonts/Logo.otf");
}


/* Header */
.header{
  background-color: grey;
  width: 100%;
}
.header__body {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header__body .logo a{
  text-decoration: none;
}
.header__body .logo h1{
  padding-top: 10px;
  font-size: 40px;
  font-family: logo;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}
.header__body .logo h1 span{
  color: #000; 
}
.header__body .info p{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.header__body .contact{
  padding: 10px 0;
}
.header__body .contact ul{
  display: flex;
}
.header__body .contact ul li{
  font-size: 20px;
  margin-right: 50px;
  position: relative;
}
.header__body .contact ul li:last-child{
  margin-right: 0px;
}
.header__body .contact ul li a{
  padding-left: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  vertical-align: text-top;
}
/* Main */
.main{
  flex-grow: 1;
}
/* Footer */
.footer{
  background-color: grey;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .logo h1{
  padding-top: 10px;
  font-size: 40px;
  font-family: logo;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}
.footer .logo a{
 text-decoration: none;
}
.footer .logo h1 span{
  color: #000; 
}

/* Navigation */
.navigation{
  background-image: url(../img/bg.png);
}
.wrapper__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  flex-wrap: wrap;
}
.wrapper__navigation a {  
  position: relative;
  font-size: 20px;  
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.wrapper__navigation a:after {  
  content: "";  
  position: absolute;  
  right: 0;
  bottom: -3px;
  display: block;  
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s;
  }
 .wrapper__navigation a:hover:after {   
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: width 0.2s;
 }
 .wrapper__navigation a.active:after{  
  display: block;
  width: 100%;
}
.wrapper__navigation img{
  padding: 0 5px;
  width: 12px;
  height: auto;
}

/* Category */
.wrapper__category{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item__category{
  background-color: grey;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 0 15px ;
  box-shadow: 15px 15px 15px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: all linear 0.15s;
}
.item__category.hover{    
  box-shadow: 15px 15px 15px rgb(0 0 0 / 40%);
} 
.item__category h1{
  font-size: 21px;
  font-weight: bold;
  color: #ececec;
  padding: 10px 0;  
  transition: all linear 0.15s;
}
.item__category h1.hover{
  color: #fff;
  padding-left: 20px;
}
.item__category .wrapper__img{
  background-color: #fff;
  width: 100%;
  height: 225px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item__category .wrapper__img img{
  width: 100%;
  height: auto;
  transition: all linear 0.15s;
}
.item__category .wrapper__img img.hover{
  transform: scale(1.02);
}
/* Products */
.wrapper__products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.item__products{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: grey;
  width: 250px;
  height: 320px;
  margin: 10px;
  padding:  5px 15px ;
  box-shadow: 15px 15px 15px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: all linear 0.15s;
}
.item__products.hover{    
  box-shadow: 15px 15px 15px rgb(0 0 0 / 40%);
} 
.item__products h1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #ececec;
  transition: all linear 0.15s;
  text-transform: uppercase;
}
.item__products h1.hover{
  color: #fff;
  padding-left: 20px;
}
.item__products .wrapper__img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item__products .wrapper__img img{
  width: 100%;
  height: auto;
  transition: all linear 0.15s;
}
.item__products .wrapper__img img.hover{
  transform: scale(1.02);
}
.item__products .wrapper__bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item__products .wrapper__bottom .price{
  color: #ececec;
  font-size: 21px;
  padding: 10px 0;
  font-weight: bold;
}
.item__products .wrapper__bottom .buy a{
  text-decoration: none;
  color: #ececec;
  font-weight: bold;
  text-transform: uppercase; 
  display: block; 
  font-size: 16px;
  padding: 8px 15px;
  border: solid 2px #ececec;  
  border-radius: 10px;
  background-color: rgb(105, 103, 103);   
}
.item__products .wrapper__bottom .buy a:hover{
  color: rgb(105, 103, 103);    
  border: solid 2px rgb(105, 103, 103);
  background-color: #ececec;
}


/* Arrow Up */
#arrow__up{
  position: fixed;
  bottom: 20px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: grey;
  visibility: hidden;
  cursor: pointer;
}
#arrow__up img{
 width: 30px;
 height: auto;
 transform: rotate(-90deg);
}

/* Index Page */
/* Section Header */
.section__header{
  position: relative;
  background-image: url(../img/bg.png);
  padding: 0 15px;
}
.section__header .wrapper{
  padding: 10px 0 40px 0;
}
.section__header .wrapper p{
  font-size: 18px;
  padding: 10px 0;
  text-align: justify;
}
.section__header .wrapper span{
  color: rgb(14, 14, 14);
  font-weight: bold;
}
.section__header .arrow,
.arrow:before{  
  position: absolute;
  left: 50%;
}
.section__header .arrow{
  width: 30px;
  height: 30px;
  bottom: 12%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 3px #000 solid;
  border-bottom:3px #000 solid;
}
.section__header .arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow__header;
}  
@keyframes arrow__header{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
/* Section trucks */
.trucks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trucks .card{         
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: grey;
    cursor: pointer;
    padding: 0 15px;
    box-shadow: 15px 15px 15px rgb(0 0 0 / 25%);
    transition: all linear 0.15s;
} 
.trucks .card.hover{    
    box-shadow: 15px 15px 15px rgb(0 0 0 / 40%);
} 
.trucks .card h1{
    font-size: 21px;
    font-weight: bold;
    color: #ececec;
    padding: 10px 0 ;  
    transition: all linear 0.15s;
}
.trucks .card h1.hover{
    color: #fff;
    padding-left: 20px;
}
.trucks .card img{
    width: 100% ;
    height: auto;
    transition: all linear 0.15s;
}
.trucks .card img.hover{
  transform: scale(1.02);
}
/* Section info */
.section__info{
  background-image: url(../img/bg.png);
  padding: 0 15px;
}
.section__info .wrapper{
  padding: 10px 0;
}
.section__info .wrapper p{
  font-size: 18px;
  padding: 10px 0;
  text-align: justify;
}
/* End Index Page */




/* Media requests */
@media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    } 
  }

  @media (max-width: 768px) {
    .container {
      max-width: none;
      padding: 0;
    }    
    /* Arrow up */
    #arrow__up{
      visibility: visible;
      opacity: 0.8;
    }
    /* Header */
    .header__body{
      height: 180px;
    }    
    .header__body .logo h1{
      font-size: 32px;
    }
    .header__body .contact ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header__body .contact ul li{
      margin-right: 0;
    }
    .header__body .contact ul li:first-child{
      padding-bottom:10px;
    }
    .header__body .contact ul li:last-child{
      padding-top: 5px;
    }
    /* Footer */
    .footer .logo h1{
     font-size: 32px;
    }
}
    
  @media (max-width: 575px) {
    .item__products{
      width: 300px;      
    }
  }