/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #ececec;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Fonts */

@font-face {
  font-family: "logo";
  src: url("../fonts/Logo.otf");
}
/* Header */
.header{
  background-color: grey;
  width: 100%;
}
.header__body {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header__body .logo h1{
  padding-top: 10px;
  font-size: 40px;
  font-family: logo;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}
.header__body .logo h1 span{
  color: #000; 
}
.header__body .info p{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.header__body .contact{
  padding: 10px 0;
}
.header__body .contact ul{
  display: flex;
}
.header__body .contact ul li{
  font-size: 20px;
  margin-right: 50px;
  position: relative;
}
.header__body .contact ul li:last-child{
  margin-right: 0px;
}
.header__body .contact ul li a{
  padding-left: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  vertical-align: text-top;
}



/* Main */
.section__info{
  background-image: url(../img/bginfo.png);
}
.trucks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trucks .card{         
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: grey;
    cursor: pointer;
    overflow: hidden;
    padding: 0 15px;
    box-shadow: 15px 15px 15px rgb(0 0 0 / 25%);
    transition: all linear 0.15s;
} 
.trucks .card.hover{    
    box-shadow: 15px 15px 15px rgb(0 0 0 / 40%);
} 
.trucks .card h1{
    font-size: 21px;
    font-weight: bold;
    color: #ececec;
    padding: 10px 0 ;  
    transition: all linear 0.15s;
}
.trucks .card h1.hover{
    color: #fff;
    padding-left: 20px;
}
.trucks .card img{
    width: 100% ;
    height: auto;
    transition: all linear 0.15s;
}
.trucks .card img.hover{
  transform: scale(1.02);
}


/* Media requests */
@media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    } 
  }

  @media (max-width: 767px) {
    .container {
      max-width: none;
      padding: 0;
    } 

    /* Header */
    .header__body{
      height: 180px;
    }    
    .header__body .logo h1{
      font-size: 32px;
    }
    .header__body .contact ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header__body .contact ul li{
      margin-right: 0;
    }
    .header__body .contact ul li:first-child{
      padding-bottom:10px;
    }
    .header__body .contact ul li:last-child{
      padding-top: 5px;
    }
}
    
  @media (max-width: 575px) {
  }